<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Bomber</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/Email.png">
    <script src="../static/script.js"></script>
    
</head>
<body>
    <section class="ads">
        Your ad goes here<br><br><br><br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat officia, id eveniet laudantium tempore fugit harum. Placeat repellat minima assumenda quidem at nihil, omnis optio voluptatibus molestias tenetur repellendus delectus?
    </section>
    <section class="container">

        <h1>Now bomb emails for free</h1>
        <div class="image"><img src="../static/Email.png" alt=""></div>
        <p>{{result}}</p>
        <div>
        <form class="contact" method="POST" id="form">
                <div class="entry">Email : <input name='email' type="email"></div>
                <div class="entry">Amount : <input name='amt' type="text"></div>
                <div class="entry">Subject : <input name='Subject' type="text"></div>
                <div class="entry">Message : <textarea name="message"></textarea></div>
                <button class="btn" type="submit">Send</button>
        </form>
        </div>
    </section>
    <section class="ads">
        Your ad goes here<br><br><br><br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat officia, id eveniet laudantium tempore fugit harum. Placeat repellat minima assumenda quidem at nihil, omnis optio voluptatibus molestias tenetur repellendus delectus?
    </section>
    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>